<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Carnet Riviera - Accueil</title>
  <link rel="stylesheet" href="../css/style.min.css">
  <script src="script.js"></script>
</head>
<body>
 <header> 
   <img src="../img/bg/logo.png" alt="" class="logo">
 </header>
 <main>
    <p>SOON COMING !</p>
 
<p>Un nouveau blog floral, solaire et bulle de joie, amoureux de Nice et de la French Riviera</p>
 
<h1>MES CARNETS RIVIERA</h1>
 
<p>Se prépare à éclore au <b> printemps</b> sur la Côte d’Azur !</p>
 
<p>Suivez-nous sur Instagram @mescarnetsriviera</p>
 
<p>(Calendrier de pré-lancement « Bulles de joie » :
à partir du <b>14 février 2018</b>,  concours quotidiens  et événements à venir…)"</p>

<p>A très bientôt et bon courage pour cette nouvelle semaine :)
Bisous</p>
 </main>
</body>
</html>